
## John Lee's scripts
extract_distances.py
calculate_rand_indices.py

## list of assembly files
assemblies.txt

SELECTED_METADATA.csv

## outputs of different Ks for poppunk
clusters/
functions/
**.DS_Store
**.Rhistory
plots/
plasmid_summary_all.csv
1_poppunk_running/chosen_K_11/*
1_poppunk_running/fit_model/
1_poppunk_running/*.csv
2_dists_roary_analysis/all/*
2_dists_roary_analysis/*.csv
2_dists_roary_analysis/*/*.csv
2_dists_roary_analysis/*.cys
2_dists_roary_analysis/gene_presence_absences/
2_dists_roary_analysis/orig/


X_vir_amr_phage/gene_DB_hits/
X_eggnog/eggnog/
X_eggnog/*.csv
3_gene_properties/figures/

3_gene_properties/results/
3_gene_properties/results_prev/

4_pairwise_roary/030519/
4_pairwise_roary/180619/
4_pairwise_roary/networks.cys
4_pairwise_roary/*.csv
4_pairwise_roary/specific_genes/
4_pairwise_roary/snp_trees/
4_pairwise_roary/thresholds/
4_pairwise_roary/*0919*/
4_pairwise_roary/identical.tab
4_pairwise_roary/classify_genes/*.csv

5_classify_genes/interpro_scan*
5_classify_genes/eggnog*
5_classify_genes/sequences/*
5_classify_genes/props/*
5_classify_genes/*.csv
*entry.list*
*.gml


6_missing_specific_genes/*/*.fa
6_missing_specific_genes/*.csv
6_missing_specific_genes/*.xlsx

7_AMR_vir_plasmid/results/
7_AMR_vir_plasmid/smaller_tree/*.gff


X_tree/*.txt
X_tree/*.csv
X_tree/300519/

X_choose_reps/*.csv
## the virulenceFinder,RESfinder and PHASTER databases
DBs/


X_gene_properties/
X_panaroo_merge/
X_run_panaroo/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.Rhistory

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
